[Unit]
Description=LinBPQ
After=network.target

[Service]
Type=forking
WorkingDirectory=/home/pi/linbpq_rtg
Restart=always
RestartSec=90
StartLimitInterval=400
StartLimitBurst=3
User=pi
Group=pi
ExecStart=/usr/bin/screen -S linbpq -d -m /home/pi/linbpq_rtg/runbpq
SyslogIdentifier=LinBPQ

[Install]
WantedBy=multi-user.target
